.project
.settings
.pydevproject
.DS_Store
._.DS_Store
*.pyc
*.log*
*.egg-info
pycharm-debug.egg
.idea/*
*.code-workspace
.vscode/settings.json
env
__pycache__
node_modules/
venv
access.conf
*.pdf
._*.py
